<!--左区块-->
<div id="L_menu" style="width:350px; float:left">
    <!--左上菜单-->
    <div id="LU_menu" style="background-color:rgba(192, 192, 192, 0.5); padding:20px">
        <!--个人主页-->
        <img src="/profile_img.jpg" alt="asdawej"></img>
        <p><b>bilibili:</b><a href="https://space.bilibili.com/350704566"
                target="_blank">asdawej_bilibili</a></p>
        <p><b>Zhihu:</b><a href="https://www.zhihu.com/people/asdawej/" target="_blank">asdawej_Zhihu</a>
        </p>
        <p><b>Github:</b><a href="https://github.com/asdawej/" target="_blank">asdawej_Github</a></p>
        <p><b>LeetCode:</b><a href="https://leetcode.cn/u/asdawej/" target="_blank">asdawej_LeetCode</a></p>
    </div>

    <!--左下菜单-->
    <div id="LD_menu" style="background-color:rgba(25, 153, 229, 0.5); padding:20px">
        <!--功能区-->
        <p><b><a href="/" style="color:#FF9966">首页</a></b></p>
        <p><a href="/notes">笔记</a></p>
        <p><b>友链</b></p>
        <p><a href="https://icp.gov.moe/" target="_blank">萌国ICP备案</a></p>
        <p><a href="https://www.panxuc.com/" target="_blank">Xuc Pan 的主页</a></p>
        <p><b>外链</b></p>
        <p><a href="http://qwq.re/" target="_blank">律动喵喵的小站</a></p>
        <ul>
            <li>
                <p><a href="https://ruarua.ru/" target="_blank">Raccon</a></p>
            </li>
            <li>
                <p><a href="https://quiz.qwq.re/" target="_blank">QwQuiz</a></p>
            </li>
        </ul>
        <p><a href="http://scp-wiki-cn.wikidot.com/" target="_blank">SCP基金会中国分部</a></p>
        <p><a href="http://rpc-wiki-cn.wikidot.com/" target="_blank">RPC管理局中国分部</a></p>
        <p><a href="https://wanderers-library.wikidot.com/" target="_blank">被放逐者之图书馆</a></p>
        <p><a href="https://www.acy.moe/" target="_blank">NEET姬の私人小窝</a></p>
        <p><a href="https://wafuwafu.com/" target="_blank">わふわふ ✧*ヾ(｡>﹏<｡)ﾉﾞ✧*</a>
        </p>
        <p><a href="https://www.mmgal.com/" target="_blank">忧郁的loli_忧郁的弟弟</a></p>
        <ul>
            <li><a href="https://www.ttloli.com/" target="_blank">ttloli-忧郁的loli_忧郁的弟弟</a></li>
        </ul>
        <p><a href="https://www.lzacg.top/" target="_blank">量子ACG</a></p>
        <p><a href="https://www.soraacg.com/" target="_blank">穹之下</a></p>
    </div>
</div>
